/* Small Multiples  */

#distSmallMults {
  width: 71.43%;
  padding-left: 14.29%;
  padding-right: 14.29%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#marey, #map {
  width: 95vw;
  /* height: 94vh; */
  position: fixed;
  left: 0px;
  top: 106vh;
  background-color: #f0f0f0;

  display: flex;
  flex-shrink: 0;
}

#marey {
  height: 94vh;
}

#map {
  height: 85vh;
}

#marey-explanation {
  position: fixed;
  width: 60vw;
  height: 71vh;
  margin-left: 5vw;
  margin-top: 8vh;
  background-color: rgba(0,0,0,0.9);
  border-radius: 50px;
  z-index: 2;
  padding: 0;
}

#marey-legend {
  width: 20vw;
  /* margin: 0; */
  background-color: rgba(51,51,51,1);
  /* margin: 0.2vw; */
  padding: 2vw;
  font-family: "Roboto", sans-serif;
  color: #fff;
  /* box-sizing: border-box; */
}

#ownership-demo text {
  font-family: "Roboto", sans-serif;
  font-size: 65%;
  /* font-weight: 300; */
}

#marey-legend hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(150,150,150);
  margin: 1em 0;
  padding: 0;
}

#marey-legend h1 {
  font-family: 'Playfair Display', serif;
  font-size: 160%;
  left: 0%;
  font-weight: 700;
  line-height: 1em;
  margin-top: 0;
  color: #e55c69;
}

#marey-legend h3 {
  font-size: 12px;
  color: rgb(150,150,150);
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#marey-legend h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 100%;
}

#marey-legend p,a {
  color: #e7e7e7;
  padding: 0%;
  text-decoration: none;
}

#marey-legend p {
  font-size: 65%;
}

#marey-chart {
  flex: 1;
}

.smallmult-line {
  fill:none;
  stroke:#000;
  stroke-width:2;
  /* stroke-linejoin: round; */
}

.marey-line {
  fill:none;
  stroke-width:1;
  opacity: 0;
}

.marey-line-active {
  fill:none;
  stroke-width:1;
  opacity: 1;
}

.provenance-path {
  fill:none;
  stroke-width:5;
  opacity:0;
}

.provenance-path-active {
  fill:none;
  stroke-width:5;
  opacity:1;
}

.exhibition-circle {
  fill: none;
  opacity: 0;
}

.exhibition-circle-active {
  fill: none;
  opacity: 1;
}

.marey-axis {
  /* stroke: #696969; */
  stroke: #696969;
  opacity: 0.3;
  /* opacity: 0; */
  stroke-width: 0.5;
}

.hover-year {
  stroke: #696969;
  opacity: 0;
}

.hover-year:hover {
  opacity: 0.3;
  cursor: crosshair;
}

#year-hover-text {
  font-family: "Roboto", sans-serif;
  opacity: 0;
  width: 0vw;
  position: fixed;
  background-color: rgba(240,240,240,0.8);
  z-index: 5;
  /* -moz-box-shadow:    0 0 10px 1px #999;
  -webkit-box-shadow: 0 0 10px 1px #999; */
  max-width: 30vw;
  padding: 10px;
}

/* Year */
#year-hover-text h2 {
  font-size: 100%;
  /* color: #000; */
  margin: 1;
}

/* Owner */
#year-hover-text h1 {
  font-size: 90%;
  /* color: #000; */
  margin: 1;
}

#owner-location {
  font-style: italic;
  font-size: 85%;
}

/* exhibitions */
#year-hover-text p {
  font-size: 80%;
  /* color: #000; */
  margin: 0.5;
}

#exhibition-name {
  font-style: italic;
  font-size: 75%;
}

.continent-label {
  font-family: "Roboto", serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 10px;
  fill: rgb(150,150,150);
  font-weight: 400;
}

/* LEGEND GRAPHIC */
.legend-line {
  stroke: #e55c69;
  stroke-width:1;
}

.owner-line {
  stroke:#e55c69;
  stroke-width:5;
}

.owner-text {
  fill:#fff;
}

.owner-line-callout {
  stroke:#afafaf;
  stroke-width:1;
  stroke-dasharray:2;
}

.exhib-legend-circle {
  stroke: #DAA520;
}
