/* All Paths Map */

#map{
  width: 1200px;
  height: 600px;
}

 /* #path-436536, #marker-436536 {
  opacity: 1;
} */

.path {
  stroke-width: 0.4vh;
  opacity:0.7;
  /* opacity: 0; */
  fill:none;
}

.marker {
  opacity:1;
  /* opacity: 0; */
}

.slidecontainer {
  padding-top: 10px;
  /* background-color: #696969; */
  opacity: 0.8;
}

#year-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#year-slider:hover {
    opacity: 1;
}

#year-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#year-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}


/* Small Multiples  */

#distSmallMults {
  width: 71.43%;
  padding-left: 14.29%;
  padding-right: 14.29%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.smallmult-line {
  fill:none;
  stroke:#000;
  stroke-width:2;
  /* stroke-linejoin: round; */
}

.marey-line {
  stroke: rgb(150,150,150);
  fill:none;
  stroke-width:4;
}

.marey-axis {
  stroke: rgba(200,200,200,0.25);
  stroke-width: 0.5;
}
