/* Small Multiples  */

#distSmallMults {
  width: 71.43%;
  padding-left: 14.29%;
  padding-right: 14.29%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#marey, #map {
  z-index: 3;
  position: fixed;
  left: 0px;
  top: 106vh;
  background-color: #f0f0f0;

  display: flex;
  flex-shrink: 0;
}

#marey {
  height: 93vh;
  width: 95vw;
}

#map {
  height: 82vh;
  width: 70vw;
  left: 24vw;
  margin: 10px;
}

#marey-legend {
  -moz-box-shadow:    0 0 10px 1px #999;
  -webkit-box-shadow: 0 0 10px 1px #999;
  width: 20vw;
  margin: 10px;
  /* background-color: rgba(51,51,51,1); */
  /* margin: 0.2vw; */
  padding: 2vw;
  font-family: "Roboto", sans-serif;
  /* box-sizing: border-box; */
}

#marey-chart {
  /* margin: 5px;
  -moz-box-shadow:    0 0 10px 1px #999;
  -webkit-box-shadow: 0 0 10px 1px #999; */
  flex: 1;
}

#ownership-demo text {
  font-family: "Roboto", sans-serif;
  font-size: .55vw;
  fill: #000;
  /* font-weight: 300; */
}

#marey-legend hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(150,150,150);
  margin: 1em 0;
  padding: 0;
}

#marey-legend h1 {
  font-family: 'Playfair Display', serif;
  font-size: 1.6vw;
  left: 0%;
  font-weight: 700;
  line-height: 1em;
  margin-top: 0;
  color: #696969;
}

#marey-legend h3, #intro-text h3 {
  font-size: 0.6vw;
  color: rgb(150,150,150);
  margin-bottom: 0px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

#marey-legend h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 1vw;
  color: #696969;
}

#marey-legend p,a {
  color: #000000;
  padding: 0%;
  text-decoration: none;
}

#marey-legend p {
  font-size: .75vw;
}

.smallmult-line {
  fill:none;
  stroke:#000;
  stroke-width:2;
  /* stroke-linejoin: round; */
}

.marey-line {
  fill:none;
  stroke-width:1;
  opacity: 0;
}

.marey-line-active {
  fill:none;
  stroke-width:1;
  opacity: 1;
}

.provenance-path {
  fill:none;
  stroke-width:5;
  opacity:0;
}

.provenance-path-active {
  fill:none;
  stroke-width:5;
  opacity:1;
}

.exhibition-circle {
  fill: none;
  opacity: 0;
}

.exhibition-circle-active {
  fill: none;
  opacity: 1;
}

.marey-axis {
  /* stroke: #696969; */
  stroke: #696969;
  opacity: 0.3;
  /* opacity: 0; */
  stroke-width: 0.5;
}

.hover-year {
  stroke: #696969;
  opacity: 0;
}

.hover-year:hover {
  opacity: 0.3;
  cursor: crosshair;
}

#year-hover-text {
  opacity: 0;
  width: 0vw;
  position: absolute;
  background-color: rgba(240,240,240,0.8);
  z-index: 5;
  -moz-box-shadow:    0 0 10px 1px #999;
  -webkit-box-shadow: 0 0 10px 1px #999;
  max-width: 30vw;
  /* padding-top: 0px; */
  padding: 10px;
}

/* Year */
#year-hover-text h3 {
  font-family: 'Playfair Display', serif;
  font-size: 1.5vw;
  /* color: #000; */
  margin: 0px;
}

#year-hover-text h2 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1vw;
  /* color: #000; */
  margin-bottom: 1;
}

#year-hover-text h4 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: .8vw;
  line-height: 0em;
  margin: 1;
}

#year-hover-text h2 span {
  font-family: 'Roboto', serif;
  font-size: .7vw;
  /* color: #000; */
  font-style: italic;
  color: #696969;
}

/* Owner */
#year-hover-text h1 {
  font-family: 'Roboto', serif;
  font-size: .8vw;
  /* color: #000; */
  margin: 1;
}

#owner-location {
  font-style: italic;
  /* font-size: 85%; */
}

/* exhibitions */
#year-hover-text p {
  font-family: 'Roboto', serif;
  font-size: .7vw;
  /* color: #000; */
  margin: 0.5;
}

#exhibition-name {
  font-style: italic;
  /* font-size: 75%; */
}

.continent-label {
  font-family: "Roboto", serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.6vw;
  fill: rgb(150,150,150);
  font-weight: 400;
}

/* LEGEND GRAPHIC */
.legend-line {
  stroke: #e55c69;
  stroke-width:1;
}

.owner-line {
  stroke:#e55c69;
  stroke-width:8;
}

.owner-text {
  fill:#fff;
}

.owner-line-callout {
  stroke:#afafaf;
  stroke-width:1;
  stroke-dasharray:2;
}

.exhib-legend-circle {
  stroke: #DAA520;
}

/* Map */
.path {
  stroke-width: 0.4vh;
  fill:none;
}

#map-animation button {
  font-family: "Roboto", sans-serif;
  border: none;
  border-radius: 100%;
  height: 5vh;
  width:  5vh;
  font-size: 2vh;
  text-align: center;
  margin: auto;
  cursor: pointer;
  color: #333333;
}

#map-animation button:active {
  background-color: #333333;
  color: #f0f0f0;
  color:
}
