/* All Paths Map */

#step-3 {
  /* position: sticky;
  top: 20px; */
}

#map{
  width: 70vw;
  height: 87vh;
  margin-left: 15vw;
  opacity: 1;
  position: fixed;
  top:105vh;

  -moz-box-shadow:    0 0 10px 1px #999;
  -webkit-box-shadow: 0 0 10px 1px #999;
}

#slidecontainer {
  position: fixed;
  bottom: 0;
  /* opacity: 0; */
}

/* .isfixed#map {
  position: fixed;
  top:5vh;
  bottom: auto;
  width: 90vw;
  height: 85vh;
  margin-left: 2vw;
  opacity: 0;
} */

 /* #path-436524, #marker-436524 {
  opacity: 1;
} */

.path {
  stroke-width: 0.4vh;
  /* opacity:0.7; */
  /* opacity: 0; */
  fill:none;
}

.marker {
  /* opacity:1; */
  /* op
  acity: 0; */
}
