#slidecontainer {
  width: 70vw;
  height: 9vh;
  position: fixed;
  /* padding-top: 5px; */
  /* margin-top: 10px; */
  margin-left: 15vw;
  top: 105vh;
  display: flex;
}

#slider-buttons {
  width: 20vw;
  background-color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

#slider-buttons p {
  font-family: "Roboto",sans-serif;
  margin: 0;
  padding: 5px;
}

#slider-buttons button {
  color: #fff;
}

#slider-buttons button, #slider-buttons-info button {
  font-family: "Roboto",sans-serif;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 90%;
  /* padding: 5px; */
  margin: auto;

  border-bottom: 0.5vh solid;
	border-bottom-color: rgba(226,12,50, 0.4);
	display: inline-block;
	line-height: 0.45;
}

#slider-buttons button:hover,#slider-buttons-info button:hover {
  border-bottom: none;
	line-height: 1.25;
	background-color: rgba(226,12,50, 0.4);
	cursor: pointer;
	/* margin: auto; */
	transition: background-color 0.5s, border-bottom 0.5s;
}

#slider {
  /* padding-top: 18px; */
  background-color: #F0F0F0;
  flex: 1;
  width: 50vw;
}

#slider-year-axis {
  width: 100%;
  /* position: relative;
  left: 6%; */
}


#year-slider {
  -webkit-appearance: none;
  width: 88%;
  position: relative;
  left: 6%;
  height: 1vh;
  opacity: 0.7;
  top: 0.5vh;
}

#year-slider:hover {
    opacity: 1;
}


#year-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.75vh;
    height: 3vh;
    background: #e55c69;
    cursor: pointer;
}

#year-slider::-moz-range-thumb {
  width: 0.75vh;
  height: 3vh;
  background: #e55c69;
  cursor: pointer;
}


#slidecontainer #slideyear {
  font-family: "Roboto",sans-serif;
  margin-bottom: 5px;
  height: 18px;
  color: #e55c69;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
  left: 88%;
}

#slider-year-axis {
  position: relative;
  /* top: -0.5vh; */
}

.tick {
  font-family: "Roboto",sans-serif;
  font-size: 11px;
}

.tick line{
  visibility:hidden;
}

.tick text{
  fill: rgb(200,200,200);
}
