/* GRAPHIC CODE */
#scroll {
	width: 100%;
	position: relative;
}

.scroll__text {
	margin: 0;
	padding: 0;
	width: 90vw;
}

.scroll__graphic {
  position: absolute;
  top: 0;
  left: 0;
  bottom: auto;
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.scroll__graphic svg {
	/* border: 1px dashed black; */
  /* left: 10%; */
}

.step {
	padding: 0;
	margin: 0;
	min-height: 240px;
}

.scroll__graphic.is-fixed {
  position: fixed;
  top:10%;
}

.scroll__graphic.is-bottom {
  bottom: 0;
  top: auto;
}

.scroll__graphic svg {
	/* border: 1px dashed black; */
	bottom: 0;
	position: relative;
	/* -webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	transform: translateY(-50%); */

}


/* graph-scroll.js version */
.scroll__graphic.graph-scroll-fixed {
	position: fixed;
}

.scroll__graphic.graph-scroll-below {
	top: auto;
	bottom: 0;
}

/* Style */

#vanGoghd3-intro {
	/* width: 10%; */
	margin: 0;
	padding: 0;
}

#step-1 {
  text-align: center;
	vertical-align: middle;
	height: 100vh;
}

#step-2 {
	/* background-color: #f0f0f0; */
}

#sticky-title {
	z-index: 3;
	background: #333333;
	color: #fff;
	width: 100%;
	font-family: 'Playfair Display', serif;
	font-weight: 500;
	position: fixed;
	left: 0;
	top: 0vh;
	opacity: 0;
	height: 6vh;
	display: none;
}

#sticky-title h1 {
	font-size: 1.5vw;
	margin: auto 2% auto 2%;
	width: 24vw;
}

div#sticky-title button {
	font-family: 'Playfair Display', serif;
  cursor: pointer;
	top: 30%;
  border: none;
  font-size: .9vw;
	width: 10vw;
	background-color: #333333;
	color: #fff;
}

div#sticky-title button.active  {
	border: none;
	background-color: #666666;
	/* color: #fff; */
}


div#sticky-title button.inactive:hover {
	background-color: #000;
	transition: background-color 0.5s;
}

#extra-scroll {
  height: 5000px;
}

.whitespace {
  border: 0;
}

/* Painting circles */
#vanGoghd3-svg img {
	position: fixed;
	/* height: 10px; */
}

.circle img:hover {
	opacity: 1;
}

.circle.is-highlighted {
	opacity: 1;
}

.circle.is-not-highlighted {
	opacity: 0.5;
}

#project-title {
	width: 100vw;
	z-index: 1;
	-webkit-box-align:center;
	-webkit-box-pack:center;
	display: -webkit-box;
	height: 100vh;
	position: relative;
	top: 0;
}

#project-title h1 {
	color: #333333;
	font-family: "Playfair-Display",serif;
	font-weight: 700;
	font-size: 9vw;
	text-align: center;
	/* line-height: 1em; */
}

#project-title h1 span {
	/* background-color: rgba(0,0,0,0.1); */
	padding-left:  2vw;
	padding-right: 2vw;
	line-height: 105%;
}

/* #project-title {
	height: 100vh;
	margin: 0 auto;
} */


#intro-text, #more-info-box {
	position: relative;
	box-sizing: border-box;
  width: 50vw;
	text-align: left;
  margin-left: 25vw;
  background-color: #FFF;
  -moz-box-shadow:    0 0 10px 1px #999;
  -webkit-box-shadow: 0 0 10px 1px #999;
	padding: 3%;
	font-family: "Roboto",sans-serif;
	z-index: 2;
}

#intro-text {
	height: 50vh
}

#more-info-box {
	height: 70vh;
}

#intro-text button, #more-info-box button {
	/* font-size: 150%; */
	border: none;
	/* position: fixed; */
	margin-left: 95%;
}

#intro-text button:hover,#more-info-box button:hover {
	cursor: pointer;
}

#intro-text h1, #more-info-box h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000;
	font-size: 2vw;
	/* font-weight: 300; */
}

#intro-text h2, #more-info-box h2 {
	margin-top: 0px;
	font-size: 1.3vw;
}

#more-info-box p {
	font-size: 0.9vw;
}

#intro-text h4, #more-info-box h4 {
	font-size: 2vw;
}

#intro-text h4 {
	/* font-family: "Playfair-Display",serif; */
	font-weight: 400;
}

#intro-text a, #more-info-box a {
  /* font-size: 1vw; */
  color: #000;
  /* padding: 0%; */
  /* text-decoration: none; */
}

#intro-text a, #marey-legend a, #more-info-box a {
	border-bottom: 0.5vh solid;
	border-bottom-color: rgba(226,12,50, 0.2);
	display: inline-block;
	line-height: 0.45;
	text-decoration: none;
}

#intro-text a:hover, #marey-legend a:hover, #more-info-box a:hover {
	border-bottom: none;
	line-height: 1.25;
	background-color: rgba(226,12,50, 0.1);
	cursor: pointer;
	margin: auto;
	transition: background-color 0.5s, border-bottom 0.5s;
}
