* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  /* font-weight: 300; */
}

html, body {
  /* height: 100% */
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10%;
  align-items: center;
  justify-content: center;
  background-color: RGB(50,50,50);
}

.start-stop {
  height: 30vh;
  padding: 0.2vh;
  /* margin-right: 5px; */
}

.start-stop:hover {
  opacity: 0.5;
}

#map-and-text {
  margin-top: 10%;
  position: relative;
}

#year-text {
  position: absolute;
  bottom: 5%;
  /* left: 33.82111%; */
  /* left: 350px; */
  margin-top: 5%;
  text-align: left;
}

#current-year {
  text-align: center;
  color: #2e2e2e;
  font-size: 50px;
  font-style: italic;
  font-weight: 100;
  opacity: 0;
}

#map {
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.flex-div {
  width: 20%;
}
